.container-fluid {
  margin-top: 20px;
  width: 100%;
}

.logo-tuba {
  height: 7%;
  width: 7%;

  display: block;
  margin: 0 auto;
}

.row {
  margin-top: 10px;
}

.section {
  background-color: #252525;
  height: 290px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;

  color: white;

  box-shadow: 3px 3px 12px #555;
}

.temperature h2 {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.temperature img {
  height: 50%;
  display: block;
  position: absolute;
  top: 70px;
  left: 5px;
}

.temperature p {
  height: 50%;

  display: block;
  position: absolute;
  top: 110px;
  right: 40px;

  font-size: 50px;
  font-weight: 400;
}

.temperature p span {
  font-weight: 400;
}

.humidity h2 {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.humidity img {
  height: 40%;
  display: block;
  position: absolute;
  top: 70px;
  left: 10px;
}

.humidity p {
  height: 50%;

  display: block;
  position: absolute;
  top: 110px;
  right: 40px;

  font-size: 50px;
  font-weight: 400;
}

.humidity p span {
  font-weight: 400;
}
