<div class="container-fluid">
  <div class="header">
    <img src="../../assets/images/logoTuba.png" alt="" class="logo-tuba">
  </div>

  <div class="row justify-content-md-center">
      <div class="col-lg-3 section temperature">
        <h2>Température</h2>
        <img src="../../assets/images/Thermometre.png" alt="">
        <p>
          {{ temperature }} <span>°C</span>
        </p>
      </div>

      <div class="col-lg-3 section humidity">
        <h2>Humidité</h2>
        <img src="../../assets/images/humidity.png" alt="">
        <p>
          {{ humidity }} <span>%</span>
        </p>
      </div>
  </div>
</div>
